/*ANIMACION LOADING*/
.loading {
	z-index: 9999;
	position: fixed;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	width: 64px;
	height: 64px;
	border-radius: 50%;
	perspective: 800px;
}

.loading--plane {
	width: 70px;
	stroke-dasharray: 425.59;
	stroke-dashoffset: 425.59;
	animation: plane-loading-animation 3s linear infinite;
}

@keyframes plane-loading-animation {
	50% {
		stroke-dashoffset: 425.59;
	}

	50% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: -425.59;
	}
}

/*ANIMACION LOADING*/